
@model UserDto

<div class="container">
    <p>@Model.Id</p>
    <p>@Model.FirstName</p>
    <p>@Model.SecondName</p>
    <p>@Model.LastName</p>
    <p>@Model.Number</p>
    <p>@Model.Picture</p>
    <p>@Model.Status</p>
    <p>@Model.Balance</p>
</div>