@model List<TempCallDto>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Идентификатор пользователя</td>
            <td>Вызываемый номер</td>
            <td>Дата начала звонка</td>
            <td>Дата окончания звонка</td>
            <td>Действия</td>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Count() != 0)
            {
                foreach (TempCallDto tempCallDto in Model)
                {
                    <tr>
                        <td>@tempCallDto.UserId</td>
                        <td>@tempCallDto.Number</td>
                        <td>@tempCallDto.StartTime</td>
                        <td>@tempCallDto.EndTime</td>
                    <td>
                        <!-- Save Button trigger modal -->
                        <button type="button" class="btn btn-primary" style="width:150px;" data-toggle="modal" data-target="#exampleModalCenter" onclick="save_form_open('@tempCallDto.Id','@tempCallDto.UserId','@tempCallDto.Number','@tempCallDto.StartTime','@tempCallDto.EndTime')">
                            Сохранить
                        </button>
                        <!-- Delete Button trigger modal -->
                        <button type="button" class="btn btn-danger" style="width:150px;" data-toggle="modal" data-target="#DeleteModal" onclick="delete_form_open('@tempCallDto.Id')">
                            Удалить
                        </button>
                    </td>
                </tr>
                }
            }else{
                <tr>
                    <td>Записи отсутствуют</td>
                    <td>☻</td>
                    <td>☻</td>
                    <td>☻</td>
                    <td>☻</td>
                </tr>
            }
        }
    </tbody>
</table>