@model IEnumerable<TempCallDto>

<script>
    $(document).ready(function () {
        $("#own-popup").hide();
    });
    // Save TempCall Form
    function save_form_open(Id, UserId, Number, StartTime, EndTime) {
        $("#TempCallId").val(Id);
        $("#TempCallUserId").val(UserId);
        $("#TempCallNumber").val(Number);
        $("#TempCallStartTime").val(StartTime);
        $("#TempCallEndTime").val(EndTime);

        $("#TempCallSave").modal('show');
    }
    function save_form_close() {
        $("#TempCallSave").modal('hide');
    }
    function save_form_confirm(){
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddCall")",
            dataType: "text",
            data: {
                Id: $('#TempCallId').val(),
                UserId: $('#TempCallUserId').val(),
                Number: $('#TempCallNumber').val(),
                StartTime: $('#TempCallStartTime').val(),
                EndTime: $('#TempCallEndTime').val(),
                ManagerId: $('#TempCallManagerId').val()
            },
            success: function (result) {
                $("#InfoMessage").html(result);
                $("#TempCallSave").modal('hide');
                $("#own-popup").show();
            }
        });
    }
    // Delete TempCall Form
    function delete_form_open(Id) {
        $("#DeleteTempCallId").val(Id);
        $("#DeleteTempCall").modal('show');
    }
    function delete_form_close() {
        $("#DeleteTempCall").modal('hide');
    }
    function delete_form_confirm() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteTempCall")",
            dataType: "text", // ? text or html
            data: {
                callDtoId: $('#DeleteTempCallId').val()
            },
            success: function (result) {
                $("#InfoMessage").html(result);
                $("#DeleteTempCall").modal('hide');
                $("#own-popup").show();
            }
        });
    }
    // popup
    function popup_close() {
        $("#own-popup").fadeOut(1000);
    }
</script>

<style>
    .own-popup {
        position: absolute;
        bottom: 60px;
        right: 20px;
        width: 300px;
        height: 150px;
        padding: 10px;
        background-color: gainsboro;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #000;
        text-align: center;
        font-size: large;
        font-style: sans-serif;
    }

    .popup-close {
        cursor: pointer;
        color: red;
        position: relative;
        float: right;
        font-size: 18px;
        font-weight: bold;
    }
</style>

<!-- Save Form Modal -->
<div class="modal fade" id="TempCallSave" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Сохранение звонка в БД</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="save_form_close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="TempCallId"/>
                <input type="hidden" id="TempCallManagerId" value="@ViewBag.userId"/>

                <div class="form-floating">
                    <input type="text" class="form-control" id="TempCallUserId" placeholder="">
                    <label for="floatingInput">Id пользователя</label>
                    <span class="badge bg-danger"></span>
                </div>
                </br>

                <div class="form-floating">
                    <input type="text" class="form-control" id="TempCallNumber" placeholder="">
                    <label for="floatingInput">Номер вызываемого пользователя</label>
                    <span class="badge bg-danger"></span>
                </div>
                </br>

                <div class="form-floating">
                    <input type="text" class="form-control" id="TempCallStartTime" placeholder="">
                    <label for="floatingInput">Дата начала звонка</label>
                    <span class="badge bg-danger"></span>
                </div>
                </br>

                <div class="form-floating">
                    <input type="text" class="form-control" id="TempCallEndTime" placeholder="">
                    <label for="floatingInput">Дата конца звонка</label>
                    <span class="badge bg-danger"></span>
                </div>
                </br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="save_form_close()">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="save_form_confirm()">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Form Modal-->
<div class="modal fade" id="DeleteTempCall" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Удаление записи звонка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="delete_form_close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 style="color:dimgrey;">Вы уверены, что хотите удалить эту запись?</h3>

                <input type="hidden" id="DeleteTempCallId"/>

            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="delete_form_close()">Нет</button>
                    <button type="button" class="btn btn-primary" onclick="delete_form_confirm()">Да</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
<div class="card-body">
    <h5>Заявки звонков на добовление в БД</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Идентификатор пользователя</td>
                <td>Вызываемый номер</td>
                <td>Дата начала звонка</td>
                <td>Дата окончания звонка</td>
                <td>Действия</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(TempCallDto tempCallDto in Model){
                                                  <tr>
                                                         <td>@tempCallDto.UserId</td>
                                                         <td>@tempCallDto.Number</td>
                                                         <td>@tempCallDto.StartTime</td>
                                                         <td>@tempCallDto.EndTime</td>
                                                         <td>
                                                             <!-- Save Button trigger modal -->
                                                            <button type="button" class="btn btn-primary" style="width:150px;" data-toggle="modal" data-target="#exampleModalCenter" onclick="save_form_open('@tempCallDto.Id','@tempCallDto.UserId','@tempCallDto.Number','@tempCallDto.StartTime','@tempCallDto.EndTime')">
                                                                 Сохранить                                                                                                       
                                                             </button>     
                                                             <!-- Delete Button trigger modal -->
                                                             <button type="button" class="btn btn-danger" style="width:150px;" data-toggle="modal" data-target="#DeleteModal" onclick="delete_form_open('@tempCallDto.Id')">
                                                                 Удалить                                                                                                       
                                                             </button>
                                                         </td>                                                                                                                           
                                                  </tr>
                }
            }
        </tbody>
    </table>
</div>
</div>

<div id="own-popup" class="own-popup">
    <span class="popup-close" onclick="popup_close()">X</span>
    <h2>Информация</h2>
    <span><div id="InfoMessage"></div></span>
</div>