@using SnailMS.Service
@inject Service service
@model UserDto

@{
    ViewData["Title"] = "Личный кабинет";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#own-popup").hide();
        });
        function popup_close() {
            $("#own-popup").fadeOut(1000);
        }
    // GetCalls
    function get() {
        var start = $('#startDate').val();
        var end = $('#endDate').val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetCalls")",
            dataType: "html",
            data: {
                fromDate: start,
                toDate: end
            },
            success: function (result) {
                $("#result").html(result);
                alert(result);
            }
        });
    }
    // Deposit Balance
    function deposit_form_open() {
            $("#DepositModal").modal('show');
            $("#NoteUserId").val(userId);
    }
    function deposit_form_close() {
            $("#DepositModal").modal('hide');
    }
    function deposit_form_confirm() {
        var CardId = $('#CardId').val();
        var Value = $('#Value').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("DepositBalance")",
            dataType: "html",
            data: {
                cardId: CardId,
                value: Value
            },
            success: function (result) {
                $("#DepositModal").modal('hide');
                $("#InfoMessage").html(result);
                $("#own-popup").show();
            }
        });
    }
    </script>
}

    <style>
        .own-popup {
            position: fixed;
            bottom: 10px;
            right: 10px;
            z-index: 99;
            width: 300px;
            height: 150px;
            padding: 10px;
            background-color: gainsboro;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #000;
            text-align: center;
            font-size: large;
            font-style: sans-serif;
        }

        .popup-close {
            cursor: pointer;
            color: red;
            position: relative;
            float: right;
            font-size: 18px;
            font-weight: bold;
        }
    </style>

    <!-- Deposit Form Modal -->
    <div class="modal fade" id="DepositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Пополнение баланса</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deposit_form_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-floating">
                        <input type="text" class="form-control" id="CardId" placeholder="">
                        <label for="floatingInput">Номер карты</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="inputs" style="display:inline-block;">
                        <label for="exampleSelect1" class="form-label mt-4">Сумма пополнения</label>
                        <select class="form-select" style="width:200px;" value="1,00" id="Value">
                            <option value="1,00">1.00</option>
                            <option value="5,00">5.00</option>
                            <option value="10,00">10.00</option>
                            <option value="15,00">15.00</option>
                            <option value="20,00">20.00</option>
                        </select>
                    </div>
                    </br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deposit_form_close()">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="deposit_form_confirm()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        @{
                            var imgSrc = "/image/avatar.webp";
                            if (ViewBag.userId != null)
                            {
                                if (service.Users.GetUserAvatar(ViewBag.userId) != null)
                                {
                                    var base64 = Convert.ToBase64String(service.Users.GetUserAvatar(ViewBag.userId));
                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                }
                            }
                        }
                        <img src="@imgSrc" class="bd-placeholder-img" alt="avatar" style="width:350px; height:350px;  object-fit:cover;">
                        <h5 class="my-3">@Model.FirstName @Model.SecondName</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Полное имя</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.FirstName @Model.SecondName @Model.LastName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Телефон</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Number</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Дата регистрации</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.EntryDate</p>
                            </div>
                        </div>
                            <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Адрес</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Adress</p>
                            </div>
                        </div>
                            <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Статус аккаунта</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Status</p>
                            </div>
                        </div>
                            <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Баланс</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Balance
                                    <button type="button" class="btn btn-danger" style="float:right;" onclick="deposit_form_open()">Пополнить баланс</button>
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="card mb-4 mb-md-0" style="width:contain;">
                            <div class="card-body">
                                <h5>Ваши уведомления</h5>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td>Сообщение</td>
                                            <td>Дата</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                @{
                                    var notifications = service.Notifications.GetAllNotificationDto().ToList().Where(x=>x.UserId.Equals(ViewBag.userId));
                                    if (notifications.Count()!=0)
                                    {
                                        foreach (var notification in notifications)
                                        {
                                            if (notification != null)
                                            {
                                                        <tr>
                                                            <td>@notification.Message</td>
                                                            <td>@notification.Message</td>
                                                        </tr>
                                            }
                                        }
                                    }else{
                                                <tr>
                                                    <td>Ящик уведомлений пуст</td>
                                                    <td>☻</td>
                                                </tr>
                                    }
                                }
                                    </tbody>
                                </table>

                            </div>
                </br>
                        </div>

                        </br></br>

                        <!-- Calls -->
            <div class="card mb-4 mb-md-0" style="width:contain;">
                <div class="card-body">
                    <h5>История звонков</h5>
                    <hr />
                              <div class="inputs" style="display:inline-block;">
                              </br>
                              <input type="date" style="width:200px;" id="startDate" min="2015-01-01" max="2023-05-31" onchange="get()">
                              <input type="date" style="width:200px;" id="endDate" min="2015-01-01" max="2023-05-31" onchange="get()">
                          </br>
                      </div>
                  </br>
              </br 
                           </div>

                      </div>

                      <div id="result">
                          <h5 style="text-align:center;">Введите данные для поиска</h5>
                      </div>

        </div>
    </div>
</section>

<div id="own-popup" class="own-popup">
    <span class="popup-close" onclick="popup_close()">X</span>
    <h2>Информация</h2>
    <span><div id="InfoMessage"></div></span>
</div>