@using SnailMS.Service
@inject Service service
@model List<UserDto>

<div class="container">
    <div class="row mb-2">
        @foreach(UserDto userDto in Model){
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">@userDto.Number</strong>
                    <h3 class="mb-0">@userDto.FirstName @userDto.SecondName @userDto.LastName</h3>
                    <div class="mb-1 text-muted">12 Ноября</div>
                    <p class="card-text mb-auto"></p>
                    <a href="#" class="stretched-link">Позвонить</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                        @{
                            var imgSrc = "/image/avatar.webp";
                             if (service.Users.GetUserAvatar(userDto.Id) != null)
                             {
                                    var base64 = Convert.ToBase64String(service.Users.GetUserAvatar(userDto.Id));
                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                             }
                            //<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Эскиз" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Эскиз</text></svg>
                        }
                        <img src="@imgSrc" class="bd-placeholder-img" alt="avatar" style="width:200px; height:250px;  object-fit:cover;">
                </div>
            </div>
        </div>
        }
    </div>
</div>
