@model IEnumerable<AdminDto>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#own-popup").hide();
        });
        // Edit AdminDto Form
        function edit_form_open(Id, Login, Password, FirstName, SecondName, LastName, DepartmentName) {

            $("#EditId").val(Id);
            $("#EditLogin").val(Login);
            $("#EditPassword").val(Password);
            $("#EditFirstName").val(FirstName);
            $("#EditSecondName").val(SecondName);
            $("#EditLastName").val(LastName);
            $("#EditDepartmentName").val(DepartmentName);

            $("#EditModal").modal('show');
        }
        function edit_form_confirm() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("EditAdmin")",
                dataType: "text", // ? text or html
                data: {
                    Id: $('#EditId').val(),
                    Login: $('#EditLogin').val(),
                    Password: $('#EditPassword').val(),
                    FirstName: $('#EditFirstName').val(),
                    SecondName: $('#EditSecondName').val(),
                    LastName: $('#EditLastName').val(),
                    DepartmentName: $('#EditDepartmentName').val()
                        },
                success: function (result) {
                    $("#EditModal").modal('hide');
                    $("#InfoMessage").html(result);
                    $("#own-popup").show();
                }
                    });
                }
        function edit_form_close() {
            $("#EditModal").modal('hide');
        }
        // Delete ManagerDto Form
        function remove_form_open(userId) {
            $("#DeleteModal").modal('show');
            $("#deleteUserId").val(userId);
        }
        function remove_form_confirm() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteAdmin")",
                dataType: "text", // ? text or html
                data: {
                    adminId: $('#deleteUserId').val()
                },
                success: function (result) {
                    $("#DeleteModal").modal('hide');
                    $("#InfoMessage").html(result);
                    $("#own-popup").show();
                }
            });
        }
        function remove_form_close() {
            $("#DeleteModal").modal('hide');
        }
        // Add AdminDto Form
        function add_form_open() {
            $("#AddModal").modal('show');
        }
        function add_form_confirm() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddAdmin")",
                dataType: "text", // ? text or html
                data: {
                    Id: $('#EditId').val(),
                    Login: $('#AddLogin').val(),
                    Password: $('#AddPassword').val(),
                    FirstName: $('#AddFirstName').val(),
                    SecondName: $('#AddSecondName').val(),
                    LastName: $('#AddLastName').val(),
                    DepartmentName: $('#AddDepartmentName').val()
                },
                success: function (result) {
                    $("#AddModal").modal('hide');
                    $("#InfoMessage").html(result);
                    $("#own-popup").show();
                }
            });
        }
        function add_form_close() {
            $("#EditModal").modal('hide');
        }
        // popup
        function popup_close() {
            $("#own-popup").fadeOut(1000);
        }
    </script>
}

    <style>
        .own-popup {
            position: fixed;
            bottom: 10px;
            right: 10px;
            z-index: 99;
            width: 300px;
            height: 150px;
            padding: 10px;
            background-color: gainsboro;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #000;
            text-align: center;
            font-size: large;
            font-style: sans-serif;
        }

        .popup-close {
            cursor: pointer;
            color: red;
            position: relative;
            float: right;
            font-size: 18px;
            font-weight: bold;
        }
    </style>

    <!-- Edit Form Modal -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Редактирование учетной записи оператора</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="edit_form_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 style="color:red;" id="error_handler"></h3>

                    <input type="hidden" class="form-control" id="EditId" placeholder="Логин">

                    </br>
                    <h1 class="h3 mb-3 fw-normal">Редактирование данных</h1>
                    <hr class="my-4">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="EditLogin" placeholder="Логин">
                        <label for="floatingInput1">Логин</label>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="password" class="form-control" id="EditPassword" placeholder="Пароль">
                        <label for="floatingPassword">Пароль</label>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="EditFirstName" placeholder="Имя">
                        <label for="floatingInput2">Имя</label>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="EditSecondName" placeholder="Фамилия">
                        <label for="floatingInput3">Фамилия</label>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="EditLastName" placeholder="Отчество">
                        <label for="floatingInput4">Отчество</label>
                    </div>
                    </br>

                    <div class="inputs" style="display:inline-block;">
                        <label for="exampleSelect1" class="form-label mt-4">Отдел</label>
                        <select class="form-select" id="EditDepartmentName" style="width:200px;">
                            <option value="Operators">Оператор</option>
                            <option value="HR">HR</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="edit_form_close()">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="edit_form_confirm()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Form Modal -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Сохранение звонка в БД</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="remove_form_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <h2>Вы уверены, что хотите удалить пользователя?</h2>
                    <input type="hidden" id="deleteUserId" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="remove_form_close()">Нет</button>
                    <button type="button" class="btn btn-primary" onclick="remove_form_confirm()">Да</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Form Modal -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Добавление учетной записи оператора</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="add_form_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddLogin" placeholder="Логин">
                        <label for="floatingInput1">Логин</label>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="password" class="form-control" id="AddPassword" placeholder="Пароль">
                        <label for="floatingPassword">Пароль</label>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddFirstName" placeholder="Имя">
                        <label for="floatingInput2">Имя</label>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddSecondName" placeholder="Фамилия">
                        <label for="floatingInput3">Фамилия</label>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddLastName" placeholder="Отчество">
                        <label for="floatingInput4">Отчество</label>
                    </div>
                    </br>

                    <div class="inputs" style="display:inline-block;">
                        <label for="exampleSelect1" class="form-label mt-4">Отдел</label>
                        <select class="form-select" id="AddDepartmentName" style="width:200px;">
                            <option value="HR">HR</option>
                            <option value="IT">IT</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="add_form_close()">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="add_form_confirm()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="card-body">
            <h1>Таблица администраторов</h1>
            </br>
            <button type="button" class="btn btn-primary" style="width:150px;" data-toggle="modal" data-target="#AddModal" onclick="add_form_open()">
                Добавить администратора
            </button>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Идентификатор пользователя</td>
                        <td>Логин</td>
                        <td>Пароль</td>
                        <td>Имя</td>
                        <td>Фамилия</td>
                        <td>Отчество</td>
                        <td>Отдел</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                    foreach (AdminDto adminDto in Model)
                    {
                        <tr>
                            <td>@adminDto.Id</td>
                            <td>@adminDto.Login</td>
                            <td>@adminDto.Password</td>
                            <td>@adminDto.FirstName</td>
                            <td>@adminDto.SecondName</td>
                            <td>@adminDto.LastName</td>
                            <td>@adminDto.DepartmentName</td>

                            <td>
                                <!-- Save Button trigger modal       Id,Password,FirstName,SecondName,LastName -->
                                <button type="button" class="btn btn-primary" style="width:150px;" data-toggle="modal" data-target="#EditModal" onclick="edit_form_open('@adminDto.Id','@adminDto.Login','@adminDto.Password','@adminDto.FirstName','@adminDto.SecondName','@adminDto.LastName','@adminDto.DepartmentName')">
                                    Редактировать
                                </button>
                                <!-- Delete Button trigger modal -->
                                <button type="button" class="btn btn-danger" style="width:150px;" data-toggle="modal" data-target="#DeleteModal" onclick="remove_form_open('@adminDto.Id')">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div id="own-popup" class="own-popup">
    <span class="popup-close" onclick="popup_close()">X</span>
    <h2>Информация</h2>
    <span><div id="InfoMessage"></div></span>
</div>