@model List<UserDto>

<div class="container">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Идентификатор пользователя</td>
                    <td>Аватар</td>
                    <td>Имя</td>
                    <td>Фамилия</td>
                    <td>Отчество</td>
                    <td>Номер</td>
                    <td>Пароль</td>
                    <td>Адрес</td>
                    <td>Дата регистрации</td>
                    <td>Баланс</td>
                    <td>Статус</td>
                    <td>Доступ</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (UserDto userDto in Model)
                    {
                            <tr>
                                <td>@userDto.Id</td>
                                <td>
                                    @{
                                    var imgSrc = "/image/avatar.webp";
                                    if (userDto.Picture != null)
                                    {
                                        var base64 = Convert.ToBase64String(userDto.Picture);
                                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    }
                                    }
                                    <img src="@imgSrc" class="bd-placeholder-img" alt="avatar" style="width:35px; height:35px;  object-fit:cover;">
                                </td>
                                <td>@userDto.FirstName</td>
                                <td>@userDto.SecondName</td>
                                <td>@userDto.LastName</td>
                                <td>@userDto.Number</td>
                                <td>@userDto.Password</td>
                                <td>@userDto.Adress</td>
                                <td>@userDto.EntryDate</td>
                                <td>@userDto.Balance</td>
                                <td>@userDto.Status</td>
                                <td>@userDto.Access</td>
                                <td>
                                    <!-- Save Button trigger modal       Id, FirstName, SecondName, LastName,Number, Password, Adress, EntryDate, Balance, Status, Access, Picture -->
                                    <button type="button" class="btn btn-primary" style="width:150px; margin-bottom:10px;" data-toggle="modal" data-target="#EditModal" onclick="edit_form_open('@userDto.Id', '@userDto.FirstName', '@userDto.SecondName', '@userDto.LastName','@userDto.Number', '@userDto.Password', '@userDto.Adress', '@userDto.EntryDate', '@userDto.Balance', '@userDto.Status', '@userDto.Access', '@userDto.Picture')">
                                        Редактировать
                                    </button>
                                <button type="button" class="btn btn-primary" style="width:150px; margin-bottom:10px;" data-toggle="modal" data-target="#DeleteModal" onclick="note_form_open('@userDto.Id')">
                                        Отправить уведомление
                                    </button>
                                    <!-- Delete Button trigger modal -->
                                    <button type="button" class="btn btn-danger" style="width:150px; margin-bottom:10px;" data-toggle="modal" data-target="#DeleteModal" onclick="remove_form_open('@userDto.Id')">
                                        Удалить
                                    </button>
                                </td>
                            </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
