
@section Scripts{
    <script>
        $(document).ready(function () { 
            $("#own-popup").hide();
            get();
        });
    
    //  AddUser
        function add_form_open() {
            $("#AddModal").modal('show');
        }
        function add_form_confirm() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddUser")",
                dataType: "text", // ? text or html
                data: {
                    Id: $('#AddUserDtoId').val(),
                    FirstName: $('#AddUserDtoFirstName').val(),
                    SecondName: $('#AddUserDtoSecondName').val(),
                    LastName: $('#AddUserDtoLastName').val(),
                    Number: $('#AddUserDtoNumber').val(),
                    Password: $('#AddUserDtoPassword').val(),
                    Adress: $('#AddUserDtoAdress').val(),
                    Balance: $('#AddUserDtoBalance').val(),
                    Status: $('#AddUserDtoStatus').val(),
                    Access: $('#AddUserDtoAccess').val()
                    //Picture: $('#UserDtoPicture')
                },
                success: function (result) {
                    $("#AddModal").modal('hide');
                    $("#InfoMessage").html(result);
                    $("#own-popup").show();
                }
            });
        }
        function add_form_close() {
            $("#AddModal").modal('hide');
        }
    // Edit UserDto Form
    function edit_form_open(Id, FirstName, SecondName, LastName,
                            Number, Password, Adress, EntryDate,
                            Balance, Status, Access, Picture){
        $("#UserDtoId").val(Id);
        $("#UserDtoFirstName").val(FirstName);
        $("#UserDtoSecondName").val(SecondName);
        $("#UserDtoLastName").val(LastName);
        $("#UserDtoNumber").val(Number);
        $("#UserDtoPassword").val(Password);
        $("#UserDtoAdress").val(Adress);
        $("#UserDtoEntryDate").val(EntryDate);
        $("#UserDtoBalance").val(Balance);
        $("#UserDtoStatus").val(Status);
        $("#UserDtoAccess").val(Access);
        $("#UserDtoPicture").val(Picture);
        //picture

        $("#EditModal").modal('show');
    }
    function edit_form_confirm(){
         $.ajax({
            type: "POST",
                url: "@Url.Action("EditUser")",
            dataType: "text", // ? text or html 
            data: {
                Id: $('#UserDtoId').val(),
                FirstName: $('#UserDtoFirstName').val(),
                SecondName: $('#UserDtoSecondName').val(),
                LastName: $('#UserDtoLastName').val(),
                Number: $('#UserDtoNumber').val(),
                Password: $('#UserDtoPassword').val(),
                Adress: $('#UserDtoAdress').val(),
                EntryDate: $('#UserDtoEntryDate').val(),
                Balance: $('#UserDtoBalance').val(),
                Status: $('#UserDtoStatus').val(),
                Access: $('#UserDtoAccess').val(),
                Picture: $('#UserDtoPicture').val()
            },
            success: function (result) {
                $("#own-").html(result);
                $("#EditModal").modal('hide');
                alert(result);
            }
        });
    }
    function edit_form_close(){
        $("#EditModal").modal('hide');
    }
    // Delete UserDto Form
    function remove_form_open(userId){
        alert(userId);
        $("#DeleteModal").modal('show');
        $("#deleteUserId").val(userId);
    }
    function remove_form_confirm(){
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteUser")",
                dataType: "text", // ? text or html
                data: {
                    userId: $('#deleteUserId').val()
                },
                success: function (result) {
                    $("#DeleteModal").modal('hide');
                    $("#InfoMessage").html(result);
                    $("#own-popup").show();
                }
            });
    }
    function remove_form_close(){
        $("#DeleteModal").modal('hide');
    }
    // GetUsers
    function get() {
        var name = $('#FIO').val();
        var number = $('#Number').val();
        var sort = $('#sortType').val();
            var filt = $('#filtType').val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetUsers")",
            dataType: "html",
            data: {
                fio: name,
                number: number,
                sortType: sort,
                filtType: filt
            },
            success: function (result) {
                $("#result").html(result);
            }
        });
    }
    // BalanceNotificationsToUsers
        function Sendnotifications() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SendNotifications")",
                dataType: "html",
                success: function (result) {
                    $("#own-popup").show();
                    $("#InfoMessage").html(result);
                }
            });
        }
    // Add Notification
        function note_form_open(userId) {
            alert(userId);
            $("#NoteAddModal").modal('show');
            $("#NoteUserId").val(userId);
        }
        function note_form_confirm() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddNotification")",
                dataType: "text", // ? text or html
                data: {
                    UserId: $('#NoteUserId').val(),
                    message: $('#NoteMessage').val()
                },
                success: function (result) {
                    $("#NoteAddModal").modal('hide');
                    $("#InfoMessage").html(result);
                    $("#own-popup").show();
                }
            });
        }
        function note_form_close() {
            $("#NoteAddModal").modal('hide');
        }
    // popup
        function popup_close() {
            $("#own-popup").fadeOut(1000);
        }
    </script>
}

<style>
    .bd-placeholder-img:hover{
            transform: scale(5);
            transition: 1s;
    }

        .own-popup {
            position: fixed;
            bottom: 10px;
            right: 10px;
            z-index: 99;
            width: 300px;
            height: 150px;
            padding: 10px;
            background-color: gainsboro;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #000;
            text-align: center;
            font-size: large;
            font-style: sans-serif;
        }

        .popup-close {
            cursor:pointer;
            color: red;
            position: relative;
            float: right;
            font-size: 18px;
            font-weight: bold;
        }
</style>

<!-- Add Form Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Редактирование пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="add_form_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- Image -->

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddUserDtoFirstName" placeholder="">
                        <label for="floatingInput">Имя</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddUserDtoSecondName" placeholder="">
                        <label for="floatingInput">Фамилия</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddUserDtoLastName" placeholder="">
                        <label for="floatingInput">Отчество</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddUserDtoNumber" placeholder="">
                        <label for="floatingInput">Номер телефона</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddUserDtoPassword" placeholder="">
                        <label for="floatingInput">Пароль</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddUserDtoAdress" placeholder="">
                        <label for="floatingInput">Адрес</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="AddUserDtoBalance" placeholder="">
                        <label for="floatingInput">Баланс</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="inputs" style="display:inline-block;">
                        <label for="exampleSelect1" class="form-label mt-4">Статус аккаунта</label>
                        <select class="form-select" style="width:200px;" value="" id="AddUserDtoStatus">
                            <option value="">Нет</option>
                            <option value="active">Активный</option>
                            <option value="banned">Заблокированный</option>
                        </select>
                    </div>
                    </br>

                    <div class="inputs" style="display:inline-block;">
                        <label for="exampleSelect1" class="form-label mt-4">Доступ аккаунта</label>
                        <select class="form-select" style="width:200px;" value="" id="AddUserDtoAccess">
                            <option value="">Нет</option>
                            <option value="public">Публичный</option>
                            <option value="private">Приватный</option>
                        </select>
                    </div>
                    </br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="add_form_close()">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="add_form_confirm()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

<!-- Edit Form Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Редактирование пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="edit_form_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input type="hidden" class="form-control" id="UserDtoId" />
                    <input type="hidden" class="form-control" id="UserDtoPicture" />

                    <!-- Image -->

                    <div class="form-floating">
                        <input type="text" class="form-control" id="UserDtoFirstName" placeholder="">
                        <label for="floatingInput">Имя</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="UserDtoSecondName" placeholder="">
                        <label for="floatingInput">Фамилия</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="UserDtoLastName" placeholder="">
                        <label for="floatingInput">Отчество</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="UserDtoNumber" placeholder="">
                        <label for="floatingInput">Номер телефона</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="UserDtoPassword" placeholder="">
                        <label for="floatingInput">Пароль</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="UserDtoAdress" placeholder="">
                        <label for="floatingInput">Адрес</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="UserDtoEntryDate" placeholder="">
                        <label for="floatingInput">Дата регистрации</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="form-group">
                        <label for="formFile" class="form-label mt-4">Аватар</label>
                        <input class="form-control" type="file" name="Picture" id="formFile">
                    </div>
                    </br>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="UserDtoBalance" placeholder="">
                        <label for="floatingInput">Баланс</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                    <div class="inputs" style="display:inline-block;">
                        <label for="exampleSelect1" class="form-label mt-4">Статус аккаунта</label>
                        <select class="form-select" style="width:200px;" value="" id="UserDtoStatus">
                            <option value="">Нет</option>
                            <option value="active">Активный</option>
                            <option value="banned">Заблокированный</option>
                        </select>
                    </div>
                    </br>

                    <div class="inputs" style="display:inline-block;">
                        <label for="exampleSelect1" class="form-label mt-4">Доступ аккаунта</label>
                        <select class="form-select" style="width:200px;" value="" id="UserDtoAccess">
                            <option value="">Нет</option>
                            <option value="public">Публичный</option>
                            <option value="private">Приватный</option>
                        </select>
                    </div>
                    </br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="edit_form_close()">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="edit_form_confirm()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

<!-- Delete Form Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Удаление пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="remove_form_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <h2>Вы уверены, что хотите удалить пользователя?</h2>
                    <input type="hidden" id="deleteUserId"/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="remove_form_close()">Нет</button>
                    <button type="button" class="btn btn-primary" onclick="remove_form_confirm()">Да</button>
                </div>
            </div>
        </div>
    </div>

<!-- Add Notification Form Modal -->
<div class="modal fade" id="NoteAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Отправка уведомления</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="note_form_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="NoteUserId" />

                    <div class="form-floating">
                        <input type="text" class="form-control" id="NoteMessage" value="Пополните баланс для избежания блокировки номера">
                        <label for="floatingInput">Сообщение</label>
                        <span class="badge bg-danger"></span>
                    </div>
                    </br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="note_form_close()">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="note_form_confirm()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="bg-light p-5 rounded">
        <h1>Поиск пользователей</h1>
        
        <div class="inputs" style="display:inline-block;">
            <label for="exampleSelect1" class="form-label mt-4">Фамилия/Имя/Отчество</label>
            </br>
            <input style="width:200px;" type="text" name="name" placeholder="ЕвГеНиЙ" id="FIO" oninput="get()" />
            </br>
        </div>

        <div class="inputs" style="display:inline-block;">
            <label for="exampleSelect1" class="form-label mt-4">Номер</label>
            </br>
            <input style="width:200px;" type="text" name="name" placeholder="29356" id="Number" oninput="get()" />
            </br>
        </div>

        <div class="inputs" style="display:inline-block;">
        <label for="exampleSelect1" class="form-label mt-4">Фильтрация</label>
                <select class="form-select" style="width:200px;" name="filt" value="" id="filtType" oninput="get()">
                    <option value="">Нет</option>
                    <option value="rus">Россия(+7)</option>
                    <option value="by">Беларусь(+375)</option>
                    <option value="mts">МТС(29)</option>
                    <option value="life">LIFE(25)</option>
                    <option value="balance-">Баланс(-)</option>
                    <option value="balance+">Баланс(+)</option>
        </select>
        </div>

        <div class="inputs" style="display:inline-block;">
        <label for="exampleSelect1" class="form-label mt-4">Сортировка</label>
                <select class="form-select" style="width:200px;" name="sort" value="" id="sortType" oninput="get()">
                    <option value="">Нет</option>
                    <option value="up">Алфавит↑</option>
                    <option value="down">Алфавит↓</option>
        </select>
        </div>
            </br>
            </br>

            <button type="button" class="btn btn-primary" style="width:150px; height:100px;" onclick="Sendnotifications()">
            Отправить уведомления должникам
            </button>

            <button type="button" class="btn btn-primary" style="width:150px; height:100px;" onclick="add_form_open()">
                Добавить обонента
            </button>

            <a asp-controller="Home" asp-action="Register">
                <button type="button" class="btn btn-primary" style="width:150px; height:100px;" onclick="add_form_open()">
                Добавить обонента1
            </button>
            </a>

        </br>
        </br>
</div>
</div>

<div id="result">
    <h1 style="text-align:center;">Введите данные для поиска</h1>
</div>

    <div id="own-popup" class="own-popup">
        <span class="popup-close" onclick="popup_close()">X</span>
        <h2>Информация</h2>
        <span><div id="InfoMessage"></div></span>
    </div>
